.dust-system.select-items-prompt .dialog-content {
    margin-bottom: 1em;
  }
  .dust-system.select-items-prompt .items-list {
    margin-top: 0.5em;
  }
  .dust-system.select-items-prompt .item-name > label,
  .dust-system.select-items-prompt .item-image,
  .dust-system.select-items-prompt input {
    cursor: pointer;
  }
  .dust-system.select-items-prompt .item-name > label {
    align-items: center;
  }
  .dust-system.select-items-prompt .window-content {
    max-height: 90vh;
    overflow-y: auto;
  }
  