/* copyable-text.css */

copyable-text {
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;
  }
  copyable-text:hover,
  copyable-text:has(:focus-visible) {
    text-decoration-color: var(--color-shadow-primary);
  }
  copyable-text:hover button,
  copyable-text:has(:focus-visible) button {
    text-shadow: 0 0 4px var(--color-shadow-primary);
  }
  copyable-text button.copy-button {
    display: inline;
    block-size: unset;
    inline-size: unset;
    margin: 0;
    margin-inline-start: 3px;
    border: none;
    padding: 0;
    background: none;
    box-shadow: none;
    color: currentcolor;
    font-size: inherit;
    line-height: normal;
  }
  copyable-text button.copy-button:hover,
  copyable-text button.copy-button:focus {
    box-shadow: none;
  }
  