/* entity-sheets.css */

/* Entity Sheets Specifically */
.dust-system.sheet {
    /* Element Styles */
    /* TinyMCE */
    /* Notifications */
    /* Sheet Header */
    /* Sheet Navigation */
    /* Sheet Body */
    /* List Filters */
    /* Trait Lists */
  }
  .dust-system.sheet .window-content {
    overflow-y: hidden;
    padding: 5px;
    background: var(--dust-system-sheet-background);
    font-size: var(--font-size-13);
    color: var(--dust-system-color-dark);
  }
  .dust-system.sheet .window-content form {
    height: 100%;
    overflow: hidden;
  }
  .dust-system.sheet .window-content .tab {
    height: 100%;
    overflow-y: auto;
    align-content: flex-start;
  }
  .dust-system.sheet input[type="text"],
  .dust-system.sheet input[type="number"] {
    background: none;
    border: 1px solid transparent;
  }
  .dust-system.sheet input[type="text"]:hover,
  .dust-system.sheet input[type="number"]:hover,
  .dust-system.sheet input[type="text"]:focus,
  .dust-system.sheet input[type="number"]:focus {
    border: 1px solid #111;
  }
  .dust-system.sheet select {
    flex: 1;
    font-size: var(--font-size-12);
    height: 22px;
    background: transparent;
  }
  .dust-system.sheet .editable .rollable:hover {
    cursor: pointer;
  }
  .dust-system.sheet .editable h4.rollable:hover,
  .dust-system.sheet .editable .rollable:hover > h4 {
    color: #000;
    text-shadow: 0 0 10px red;
  }
  .dust-system.sheet span.sep {
    flex: none;
    margin: 0 1px;
    display: inline;
    position: relative;
    color: var(--dust-system-color-tan);
    font-weight: normal;
  }
  .dust-system.sheet .editor {
    height: 100%;
  }
  .dust-system.sheet .editor .tox-toolbar-overlord,
  .dust-system.sheet .editor .tox-toolbar__primary {
    background: none;
  }
  .dust-system.sheet .warnings,
  .dust-system.sheet .info {
    flex: 0 0 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .dust-system.sheet .warnings .notification,
  .dust-system.sheet .info .notification {
    font-family: 'Signika', sans-serif;
    font-weight: normal;
    font-size: var(--font-size-13);
    box-shadow: none;
    padding: 2px 8px;
    margin-bottom: 2px;
  }
  .dust-system.sheet .warnings .warning,
  .dust-system.sheet .info .warning,
  .dust-system.sheet .warnings .error,
  .dust-system.sheet .info .error {
    text-shadow: black 0 0 1px, rgba(0, 0, 0, 0.75) 0 0 2px, rgba(0, 0, 0, 0.5) 0 0 4px;
  }
  .dust-system.sheet .sheet-header {
    --dust-system-sheet-header-height: 100px;
    flex: 0 0 var(--dust-system-sheet-header-height);
    border-bottom: var(--dust-system-border-groove);
  }
  .dust-system.sheet .sheet-header .header-details {
    font-family: var(--dust-system-font-modesto);
    font-size: var(--font-size-20);
    font-weight: 700;
  }
  .dust-system.sheet .sheet-header .header-details .summary select {
    width: 100%;
    height: 100%;
    border: 0;
    font-family: var(--dust-system-font-modesto);
    font-size: var(--font-size-20);
    font-weight: 100;
    text-transform: capitalize;
  }
  .dust-system.sheet .sheet-header h1 {
    flex: 1;
    border-bottom: none;
    height: 60px;
    margin: 0;
    padding: 5px;
  }
  .dust-system.sheet .sheet-header h1 input {
    display: block;
    height: 50px;
    font-size: var(--font-size-32);
    margin: 0;
  }
  .dust-system.sheet .sheet-header img.profile {
    flex: 0 0 var(--dust-system-sheet-header-height);
    max-width: var(--dust-system-sheet-header-height);
    height: var(--dust-system-sheet-header-height);
    object-fit: contain;
    border: none;
    border-right: var(--dust-system-border-groove);
  }
  .dust-system.sheet .sheet-header .summary {
    flex: 0 0 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: var(--dust-system-border-groove);
    border-bottom: none;
  }
  .dust-system.sheet .sheet-header .summary li {
    height: calc(100% - 6px);
    float: left;
    margin: 2px 0;
    padding: 0;
    border-right: var(--dust-system-border-groove);
    line-height: 34px;
    color: var(--dust-system-color-olive);
  }
  .dust-system.sheet .sheet-header .summary li:last-child {
    border-right: none;
  }
  .dust-system.sheet .sheet-navigation {
    flex: 0 0 30px;
    margin-bottom: 5px;
    font-family: var(--dust-system-font-modesto);
    font-size: var(--font-size-20);
    font-weight: 700;
  }
  .dust-system.sheet .sheet-navigation .item {
    height: 30px;
    line-height: 32px;
    margin: 0 24px;
    border-bottom: 3px solid var(--dust-system-color-beige);
  }
  .dust-system.sheet .sheet-navigation .item.active {
    border-bottom: 3px solid var(--dust-system-color-crimson);
  }
  .dust-system.sheet .sheet-body {
    flex: 1;
    overflow: hidden;
  }
  .dust-system.sheet .filter-list {
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 16px;
    max-width: 70%;
  }
  .dust-system.sheet .filter-list .filter-icon {
    flex: none;
    font-size: var(--font-size-14);
    color: var(--dust-system-color-tan);
  }
  .dust-system.sheet .filter-list .filter-item {
    text-align: center;
    font-size: var(--font-size-12);
    margin: 0 6px 0 0;
    border-bottom: 3px solid var(--dust-system-color-beige);
    white-space: nowrap;
  }
  .dust-system.sheet .filter-list .filter-item:last-child {
    margin: 0;
  }
  .dust-system.sheet .filter-list .filter-item:hover {
    text-shadow: 0 0 4px red;
    border-bottom: 3px solid var(--dust-system-color-tan);
  }
  .dust-system.sheet .filter-list .filter-item.active {
    border-bottom: 3px solid var(--dust-system-color-crimson);
  }
  .dust-system.sheet .traits {
    margin: 5px 0 0;
  }
  .dust-system.sheet .traits .traits-list {
    flex: 0 0 100%;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .dust-system.sheet .trait-selector,
  .dust-system.sheet .proficiency-selector {
    flex: 0 0 16px;
    padding: 2px 0;
    color: #999;
    font-size: var(--font-size-10);
  }
  