/* fonts.css */

/* Modesto Condensed */
@font-face {
    font-family: 'Modesto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Modesto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
  }
  