/* secrets.css */

section.secret > button.reveal {
    width: unset;
    height: unset;
    line-height: unset;
    padding: 2px 16px;
    margin-top: 8px;
    font-size: var(--font-size-13);
  }
  