<fieldset>
    <legend>
        <span>{{ localize "DUST.SAVE.FIELDS.damage.label" }}</span>
        <button type="button" class="unbutton control-button" data-action="addDamagePart"
                data-tooltip="DUST.DAMAGE.Part.Action.Create"
                aria-label="{{ localize "DUST.DAMAGE.Part.Action.Create" }}">
            <i class="fas fa-plus" inert></i>
        </button>
    </legend>
    {{ formField fields.damage.fields.onSave value=activity.damage.onSave options=onSaveOptions }}
    {{> "systems/dust-system/templates/activity/parts/damage-parts.hbs" }}
</fieldset>
